
  <section class="main" *ngIf="todo">
    <div class="note-list">
      <div class = "note scale">
          <div class = "note-tags">
            <span class = "tag" *ngFor="let tag of todo.tags">{{tag}}<button (click)="destroyTag(tag)">x</button></span>
          </div>
          <textarea
          [(ngModel)]="todo.title"></textarea>
          <a routerLink="/note-list">
            <button class="save" (click)="saveTodo(todo)">Save</button>
          </a>       
      </div>
    </div>
  </section>


